svg {
   background-color: black;
}

.null {fill:#000000;fill-opacity:1;stroke:#ffffff;stroke-opacity:1} /*rectangle vide*/

.phon_O_nas {  fill:#7f2a18;} /*ɔ̃*/
.phon_1 {      fill:#505050;} /*ɨ*/
.phon_2 {      fill:#c9004d;} /*ø*/
.phon_4 {      fill:#c3ffff;} /*ɾ*/
.phon_7 {      fill:#B6DB5A;} /*ɤ*/
.phon_9 {      fill:#ea6b76;} /*œ*/
.phon_A {      fill:#922289;} /*ɑ*/
.phon_a {      fill:#ffffff;}
.phon_arob_rho{fill:#ffcc99;} /*ɚ   @\*/
.phon_arobase {fill:#fef200;} /*ə*/
.phon_A_nas {  fill:#f3bbcd;} /*ɑ̃*/
.phon_b {      fill:#156b5e;}
.phon_B {      fill:#f87407;} /*β*/
.phon_d {      fill:#0c843d;}
.phon_D {      fill:#d65c81;} /*ð*/
.phon_e {      fill:#44a1ca;}
.phon_E {      fill:#50b8a2;} /*ɛ*/
.phon_E_nas {  fill:#597fbf;} /*ɛ̃*/
.phon_f {      fill:#a897b7;}
.phon_g {      fill:#929896;}
.phon_x {      fill:#dcede7;}
.phon_H {      fill:#ffeba2;} /*ɥ*/
.phon_i {      fill:#e60004;}
.phon_I {      fill:#e7236d;} /*ɪ*/
.phon_j {      fill:#f591ad;}
.phon_k {      fill:#feae21;}
.phon_k_h {    fill:#ff3399;} /*kʰ*/
.phon_l {      fill:#007ab6;}
.phon_M {      fill:#23e915;} /*ɯ*/
.phon_m {      fill:#E7262b;}
.phon_N {      fill:#586329;} /*ŋ*/
.phon_n {      fill:#656ea7;}
.phon_o {      fill:#a64b00;}
.phon_O {      fill:#bc7b5e;} /*ɔ*/
.phon_p {      fill:#90312f;}
.phon_p_bilab {fill:#e8ea2d;} /*ɸ   p\*/
.phon_p_h {    fill:#00cccc;} /*pʰ*/
.phon_R {      fill:#ee863f;} /*ʁ*/
.phon_r_retr { fill:#8C9194;} /*ɻ   r\`*/
.phon_S {      fill:#019bcf;} /*ʃ*/
.phon_s {      fill:#6eab2c;}
.phon_s_alvpal{fill:#ffbe86;} /*ɕ   s\*/
.phon_s_retr { fill:#00ffff;} /*ʂ   s`*/
.phon_t {      fill:#bb2970;}
.phon_T {      fill:#e9ea8c;} /*θ*/
.phon_t_h {    fill:#ffff00;} /*tʰ*/
.phon_u {      fill:#007b4e;}
.phon_U {      fill:#ae9a91;} /*ʊ*/
.phon_v {      fill:#9a8d1b;}
.phon_w {      fill:#52c2b6;}
.phon_y {      fill:#e8bb85;}
.phon_Z {      fill:#126293;} /*ʒ*/
.phon_z {      fill:#aa4581;}
.phon_z_alvpal{fill:#7fe9ab;} /*ʑ   z\*/
.phon_z_retr { fill:#3333ff;} /*ʐ   z`*/

/*STYLES DES TRANSCRIPTIONS GRAPHIQUES*/
.tran {
   font-style:normal;
   font-variant:normal;
   font-weight:normal;
   font-stretch:normal;
   font-size:18px;
   font-family:sans-serif;
   -inkscape-font-specification:'sans-serif Italic';
   fill:#000000;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.80000001;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
}

.tran_pinyin {
   font-style:italic;
   font-variant:normal;
   font-weight:normal;
   font-stretch:normal;
   font-size:13px;
   font-family:sans-serif;
   -inkscape-font-specification:'sans-serif normal';
   fill:#000000;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.80000001;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
}

.tran_bopomofo {
   font-style:normal;
   font-variant:normal;
   font-weight:normal;
   font-stretch:normal;
   font-size:13px;
   font-family:sans-serif;
   -inkscape-font-specification:'sans-serif normal';
   fill:#000000;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.80000001;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
}
